{#https://startbootstrap.com/#}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MPWAR - Edit Image</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="http://192.168.33.50/index.php">MPWAR Performance</a>
        <a class="btn btn-primary" href="http://192.168.33.50/upload-images.php">Upload Images</a>
    </div>
</nav>


<h1 style="text-align: center;">Edit Image</h1>
<div class="row">
    <div class="col-lg-2 col-md-2 mb-2"></div>

    <div class="col-lg-8 col-md-8 mb-8">
        <img class="img-fluid" src="{{imageLocation}}" alt="">

        <form action="EditController.php" method="POST" style="margin: 20px 20px 20px 20px;">
            <div class="form-group">
                <label for="title">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{imageName}}">
            </div>
            <div class="form-group">
                <label for="author">Width:</label>
                <input type="text" class="form-control" id="width" name="width" value="{{imageWidth}}">
                <label for="author">Height:</label>
                <input type="text" class="form-control" id="height" name="height" value="{{imageHeight}}">
            </div>
            <div class="form-group">
                <label for="text">Description:</label>
                <textarea class="form-control" rows="5" id="description" name="description">{{description}}</textarea>
            </div>
            <div class="form-group">
                <label for="tags">Tags:</label>
                <input type="text" class="form-control" id="tags" name="tags" value="{{tags}}">
                <input type="hidden" id="id" name="id" value="{{imageUuid}}">
                <input type="hidden" id="imageLocation" name="imageLocation" value="{{imageLocation}}">
                <input type="hidden" id="edit-completed" name="edit-completed" value="1">
            </div>

            <button type="submit" class="btn btn-primary">Update Image Data!</button>
        </form>
    </div>

    <div class="col-lg-2 col-md-2 mb-2"></div>
</div>






<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; Viguamu MPWAR 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="css/jquery/jquery.min.js"></script>
<script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>