{#https://startbootstrap.com/#}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MPWAR - Index</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="http://192.168.33.50/index.php">MPWAR Performance</a>
        <a class="btn btn-primary" href="http://192.168.33.50/upload-images.php">Upload Images</a>
    </div>
</nav>

<!-- Masthead -->
<header class="text-white text-center" style="height: 200px;">
    <div class="overlay"></div>
    <div class="container" >
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">¡Busca aquí las imágenes procesadas!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form id="search-form">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input id="text-to-search" type="email" class="form-control form-control-lg" placeholder="Escribe aquí la palabra a buscar...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light" style="margin: 0px 25px 25px 15px; padding: 0px 0px 0px 0px;">
    <h3 id="edit-title" style="padding: 15px;">Imágenes pendientes de editar. ( Añadir tags y descripción )</h3>

    <div class="row" style="margin-top: 40px;" id="results">

        {% for image in images %}
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ image.location }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ image.name }}</h4>
                        <p style="font-size: 18px;"><strong>Width:</strong> {{ image.width }}px <strong>Height:</strong> {{ image.height }}px</p>
                        <p style="font-size: 18px;"><strong>Transformation:</strong> {{ image.transformation }}</p>
                        <p style="font-size: 18px;"><strong>Tags:</strong> {% if image.tags == '' %}No especificado{% else %}{{ image.tags }}{% endif %}</p>
                        <p style="font-size: 18px;"><strong>Description:</strong> {% if image.description == '' %}No especificado{% else %}{{ image.description }}{% endif %}</p>
                    </div>
                    <div class="card-footer">
                        <form method="POST" action="EditController.php">
                            <input type="hidden" name="id" value="{{ image.id }}"/>
                            <input type="hidden" name="name" value="{{ image.name }}"/>
                            <input type="hidden" name="width" value="{{ image.width }}"/>
                            <input type="hidden" name="height" value="{{ image.height }}"/>
                            <input type="hidden" name="tags" value="{{ image.tags }}"/>
                            <input type="hidden" name="description" value="{{ image.description }}"/>
                            <input type="hidden" name="imageLocation" value="{{ image.location }}"/>
                            <button type="submit" value="delete" class="btn btn-info">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; Viguamu MPWAR 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="css/jquery/jquery.min.js"></script>
<script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(function(){
        $("#text-to-search").focus();
        $('#search-form').submit(function(e){
            e.preventDefault();
        });

        $('#search-form').keyup(function(){

            let url = "http://192.168.33.50/search.php"; // the script where you handle the form input.
            let envio = $('#text-to-search').val();
            $.ajax({
                       type: "POST",
                       url: url,
                       data: 'texto='+envio, // serializes the form's elements.
                       success: function(data)
                       {
                           //alert(data);
                           $('#results').html(data);
                           $('#edit-title').html('');
                       }
            });

        });
    });
</script>
</body>
</html>